* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

#site-wrapper {
    position: relative;
}

.no-overflow {
    overflow: hidden;
    touch-action: none;
}

#site-canvas {
    height: 100%;
    position: relative;
    -webkit-transform: translateX(0);
    transform: translateX(0);

    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    padding: 20px;
}

.show-nav #site-canvas {
    -webkit-transform: translateX(300px);
    transform: translateX(300px);

    transform: translate3d(300px, 0, 0);
    -webkit-transform: translate3d(300px, 0, 0);
}

#site-menu {
    width: 300px;
    height: 100%;
    position: absolute;
    top: 0;
    left: -300px;
    background: #428bca;
    padding: 15px;
}

.ease-in-out {
    -webkit-transition: 300ms ease-out all;
    transition: 300ms ease-out all;
}